.themColors {
  --primeColorA: #6c46cd;
  --primeColorB: #27365c;
  --primeColorBg: #171e34;
  --primeColorD: #0e1321;
  --primeColorGreen: #5ac343;
  --primeColorText: #ffffff;
}

@mixin flexCenter($dir: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $dir;
}
